:host,
sl-dropdown {
  display: block;
}

sl-input.pointer::part(base) {
  cursor: default;
}

.tags {
  padding: var(--sl-spacing-xx-small) var(--sl-spacing-x-large);
}

.tags sl-tag {
  padding: var(--sl-spacing-xx-small);
}

sl-tag::part(base){
  cursor: pointer;
}